.header {
  background-color: #fff;
  height: 5rem;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  .logo {
    color: #1e90ff;
    font-size: 51px;
    font-weight: bold;
    padding-left: 1rem;
  }
  .headerText {
    color: gray;
    padding-left: .5rem;
  }

  .menuStyle {
    font-size: 1.2rem;
    border: none;
    
  }

  
}
.addMargin {
  margin-right: 12px !important;
}