.authorDiv {
  text-align: center;
  padding: 1rem;
  margin: 0.3rem auto 0;
  div {
    margin-bottom: 1rem;
  }
}
.authorIntroduction {
  font-size: 0.8rem;
  color: #999;
  text-align: justify;;
}
.account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
