.articleListTitle {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.8rem;
}
.articleListContent {
  color: #777;
  padding: 0.5rem 0.8rem;
}
.articleListIcon {
  padding: 0.5rem 0.3rem;
  color: #aaa;
  span {
    display: inline-block;
    padding: 0 6px;
  }
}
