.article-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.icon-list {
  text-align: center;
  > span {
    margin-left: 0.6rem;
  }
}
.content-div {
  padding: 1.3rem;
  font-size: 1rem;
}
.mdnav-div {
  margin-left: 0;
  position: sticky;
  margin-top: .5rem;
  top: 5px;
  > .title {
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);
  }
  > .md-category {
    font-size: 1rem;
  }
}
