.article-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.icon-list {
  text-align: center;
  > span {
    margin-left: 0.6rem;
  }
}
.content-div {
  padding: 1.3rem;
  font-size: 1rem;
}
